<!--&lt;!&ndash; The Modal Create And Update &ndash;&gt;-->
<!--<div class="modal" id="myModal">-->
<!--  <div class="modal-dialog modal-dialog-centered">-->
<!--    <div class="modal-content">-->
<!--      &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--      <div class="modal-header">-->
<!--        <h4 id="titleFrom" class="modal-title"></h4>-->
<!--        <button type="button" class="btn-close" (click)="closeFromCreate()"></button>-->
<!--      </div>-->
<!--      &lt;!&ndash;       Modal body&ndash;&gt;-->
<!--      <form [formGroup]="voucherForm" enctype="multipart/form-data">-->
<!--        <table class="modal-body">-->
<!--          <tr>-->
<!--            <td>-->
<!--              <input id="title" formControlName="name" type="text">-->
<!--            </td>-->

<!--          </tr>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <input id="price" formControlName="discount" type="text">-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <input id="description"  formControlName="quantity" type="text">-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td id="messageCreate">-->
<!--            </td>-->
<!--          </tr>-->
<!--        </table>-->
<!--        &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--        <div align="center" class="modal-footer">-->
<!--          <button (click)="createVoucher()" hidden id="buttonCreate" class="btn btn-danger">Tạo mới thành phố</button>-->
<!--          <button type="reset" hidden id="rest" class="btn btn-danger">Tạo mới chuyến du lịch</button>-->
<!--          <button (click)="updateVoucher()" hidden id="buttonUpdate" class="btn btn-danger">Chỉnh sửa chuyến du lịch</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
